.App {
  text-align: center;
}

.listOfTodos{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todoRowContainer{
  border: 1px solid black;
  margin-bottom:5px;
  margin-top:5px;
  display: flex;
  flex-direction: row;
  width:500px;
}

.todoCheckbox{
margin-left: auto;
margin-right: 20px;
}

.todoTitle{
  margin-left: 10px;
}