.App {
  text-align: center;
  background-color: #E8F4FF;
  padding-bottom: 30px ;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
font-family: Arial, Helvetica, sans-serif;}

.todoContainer{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width:200px;
  padding:20px;
  border-radius: 4px;
  background-color: white;
}

.appTitle{
  font-size: 2rem;
}

.todoCheckbox{
  margin-left: 10px;
}

.todoForm{
  border-radius: 4px;
  border: 1px solid  #f2f2f2;
  display: flex;
  flex-direction:row;
  margin-bottom: 15px;
  font-weight: 300;
  font-size: 1rem;
}

input[type=checkbox] {
  accent-color: red;
}

.linethrough{
 text-decoration: line-through;
}

.listOfTodos{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todoInput{
  padding: 12px;
  border: none;
  background-color: transparent;
  font-size: 1rem;
}

*:focus {
  outline: none;
}

.todoTitle{
  font-size: 1rem;
  margin-left: 10px;
  text-align: left;
  font-weight: 300;

}

.tasksLeft, .emptyList{
  font-size: 1rem;
}

.todoRowContainer{
  background-color: #f2f2f2;
  border-radius: 4px;
  margin-bottom:5px;
  margin-top:5px;
  display: flex;
  flex-direction: row;
  width:200px;

}

.deleteBtn, .btnAddToDo{
margin-left: auto;
padding: 5px;
background-color: transparent;
border: none;
margin-right:5px;
padding: 2px;
font-size: 1rem;
}

@media screen and (min-width:768px){
  .todoContainer, .todoRowContainer{
    width:400px;
  }

  .todoContainer{
    margin-top:10vh;
  }


}

@media screen and (min-width:1024px){
  .todoContainer, .todoRowContainer{
    width:500px;
  }

  .todoContainer{
    margin-top:10vh;
  }
}